#sketch-grid-container {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: min-content;
}

.grid-item {
    padding: 1em;
    text-align: center;
    border: 2px solid #000;
    height: 50px;
    width: 50px;
}