body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#sketch-grid-container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: min-content;
}

.grid-item {
    padding: 1em;
    text-align: center;
    border: 1px solid #000;
    height: auto;
    width: auto;
}